<mat-form-field class="example-full-width mb-18bottom" appearance="outline">
  <mat-label>{{label}}</mat-label>
<mat-select
  class="navbar-style-select"
  (selectionChange)="onSelectionChange($event)"
  (openedChange)="onDropdownOpenChange($event)"
  [disabled]="isDisabled"
  [(value)]="value"
>
 <mat-option (click)="$event.stopPropagation()">
    <i class="material-icons search-icon">search</i>
    <input
      matInput
      type="text"
      placeholder="Search..."
      autocomplete="off"
      [(ngModel)]="searchText"
      (keydown)="$event.stopPropagation()"
      (click)="$event.stopPropagation()"
      (input)="filterOptions()"
      class="dropdown-search-input"
    />
</mat-option>

<mat-option
  *ngFor="let opt of filteredOptions" 
  [value]="getNestedValue(opt, optionValue)"
  [disabled]="optionDisabled ? opt[optionDisabled] : false"
>
  {{ getNestedValue(opt, optionLabel) | capitalize}}
</mat-option>

</mat-select>
</mat-form-field>
