<section class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
  <div class="row">
    <!-- Mobile app CTA -->
    <div class="col-lg-7 mb-4 mb-lg-0">
      <div class="d-flex flex-column flex-sm-row align-items-center h-100 bg-body-tertiary rounded-5 overflow-hidden">
        <div class="order-sm-2 text-center text-sm-start pt-4 px-4 pb-2 pb-sm-4 mt-3 mt-sm-0">
          <h2 class="h4 mb-4">Make online shop easier with the Cavero App</h2>
          <div class="d-flex flex-sm-wrap justify-content-center justify-content-sm-start gap-2 gap-sm-3">
            <a class="btn btn-market btn-lg btn-light rounded-pill flex-shrink-0" 
               href="#" 
               aria-label="Download on Google Play">
              <i class="ci-google-play lead ms-n1 me-2"></i>
              Google Play
            </a>
            <a class="btn btn-market btn-lg btn-light rounded-pill flex-shrink-0" 
               href="#" 
               aria-label="Download on App Store">
              <i class="ci-apple lead ms-n1 me-2"></i>
              App Store
            </a>
          </div>
        </div>
        <div class="ratio align-self-sm-end order-sm-1" 
             style="--cz-aspect-ratio: calc(284 / 330 * 100%); max-width: 330px">
          <img src="assets/cavero/img/home/grocery/banner01.png" alt="Mobile App">
        </div>
      </div>
    </div>

    <!-- Feedback CTA -->
    <div class="col-lg-5">
      <div class="d-flex align-items-center h-100 bg-body-tertiary rounded-5 overflow-hidden">
        <div class="ratio align-self-end" 
             style="--cz-aspect-ratio: calc(284 / 244 * 100%); max-width: 244px">
          <img src="assets/cavero/img/home/grocery/banner02.png" alt="Feedback">
        </div>
        <div class="p-4">
          <h2 class="h4 mb-sm-4">We'd love to hear what you think!</h2>
          <div class="nav mt-n2 mt-sm-n1 mt-lg-0">
            <a class="nav-link animate-underline px-0 py-2" routerLink="/feedback">
              <span class="animate-target text-nowrap">Give a feedback</span>
              <i class="ci-chevron-right fs-base ms-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>